<launch>
	<param name="/position/x" value="-2.81132697617" />
	<param name="/position/y" value="0.784711979093" />
  	<param name="/position/theta" value="3.053794" />
	<node pkg="nodes" type="velocities_node" name="velocities_node" output="screen" />
	<node pkg="nodes" type="odom_node" name="odom_node" output="screen" />
</launch>
